@import 'tailwindcss' source('../');

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
@theme inline {
  --color-light-green: #F2FFFA;
  --color-green: #D8FFB8;
  --color-pink: #FFD4F0;
  --color-orange: #FFCCA3;
  --color-blue: #50CDFF;
  --color-yellow: #FFEA9E;
  --color-red: #FF8181;
  --color-purple: #8381FF;
  --color-pinky: #FD84FF;

  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(1 / 0.625);

}
html {
  color-scheme: light dark;
}
* {
  @apply border-gray-200 dark:border-gray-800;
}
body {
  @apply bg-gray-50 text-gray-950 dark:bg-gray-900 dark:text-gray-200;
}
button {
  cursor: pointer;
}
